body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: purple;
  color: white; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.increase-button,
.add-button {
  background-color: lightgreen;
}

.reduce-button {
  background-color: lightblue;
}

.remove-button {
  background-color: lightcoral;
}
